
#top {
    position: relative;
    background-color: #800000;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
    font-family: Times New Roman;
    font-size: 13px;
    font-style: initial;
    font-weight : bold;
        
}

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    background-color: skyblue;
    padding: 5px;
    width:180px;
}

#right {
    float: right;
    background-color: skyblue;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #D3D3D3;
    padding: 5px;
}

.left_content {
    background-color: #D3D3D3;
    padding: 5px;
    margin-left: 200px;
}

.right_content {
    background-color: #D3D3D3;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}

#boton{
    padding: 1000px;
    color: red;
}


